<footer class="footer">
<p class="copyright"> &copy; 2018 Amir Gevari</p>

	<ul class="footer-menu">
		<li><a href="/about">about</a></li>
		<li><a href="/github">github repositories</a></li>
		<li><a href="#">experience</a></li>
		<li><a href="/contact">contact</a></li>
	</ul>
</footer>