
<header class="head">
	<a href="/"><img src="./image/logo.png" alt="logo of the page" class="logo"></a>

<nav>
	<ul class="menu">
		<li><a href="/about">about</a></li>
		<li><a href="/github">github repositories</a></li>
		<li><a href="#">experience</a></li>
		<li><a href="/contact">contact</a></li>

	</ul>
	<div class="icon">&#9776;</div>
	<ul class="media">
		<li><a href="https://www.facebook.com/taghizadeh.amir" target="_blank"><img src="./image/facebook.png" alt="facebook logo" class="socials facebook"></a></li>
		<li><a href="https://twitter.com/AmirTG1" target="_blank"><img src="./image/twitter.png" alt="twitter logo" class="socials"></a></li>
		<li><a href="https://www.linkedin.com/in/amir-taghizadeh-1055095b/"><img src="./image/linkedin.png" alt="linkedin logo" class="socials" target="_blank"></a></li>
	</ul>
	
</nav>
</header>