
	<div class="items">
		<p class="about-head">Experienced Web Content manager with a demonstrated history of working in media production industry.Skilled in Colour Correction, Documentaries, Online Content, Content Management Systems (CMS), and AfterEffects. Strong media and communication professional with a Bachelor's degree focused in Computer Graphics from Islamic Azad University</p>
	</div>
	<hr>
			<h1 class="centre">what did I do in last 5 years?</h1>

	<div class="items">
		<h2 class="title">
		Documentary Filmmaker</h2>
		<h3 class='date'>April 2017 - Present</h3>
		<p class="text">Off-Centre is producing a series of legal show for its clients and currently, I am the producer of these
		programs. These series are about the common legal issues that anyone in his/her life may encounter. These
		programs are just for the Iranian audiences</p>
	</div>

	<div class="items">
		<h2 class="title">Production Specialist</h2>
		<h3 class='date'>September 2015 - February 2016</h3>
		<p class="text">I proudly present <a href="">Abbas and the revolution website</a>.</br>
		Abbas is an Iranian photographer known for his photojournalism in Biafra, Vietnam and South Africa in the 1970s, and for his extensive essays on religions in later years. He was a member of Sipa from 1971 to 1973, a member of Gamma (agency) from 1974 to 1980, and joined Magnum Photos in 1981.</p>
	</div>

	<div class="items">
		<h2 class="title">Web Content Administrator</h2>
		<h3 class='date'>December 2012 - Present</h3>
		<p class="text">I managed data on different CMS (Django, Drupal, and WP). Also, I moderate all social media as well as helping to collect data from google analytic for reporting purpose.</p>
	</div>
	
	<div class="items">
		<h2 class="title">Picture Editor at Marjan Television Network Ltd.</h2>
		<h3 class='date'>December 2012 - April 2013</h3>
		<p class="text">I worked as a member of a team in Manoto newsroom as a picture editor to visualise daily news for the viewers. Also, I edited an economic programme for Marjan television network.</p>
	</div>
	<hr>
	<div class="items">
		<h1 class="centre">what did I do before immigration?</h1>
		<p class="text">For 2 yeras I was a <span class="bold">Advertisment Creator</span>, and for 10 years before that I gradually become a filmmaker.Started as a assistant of videographer (basikly I was carring huge tripod than I allowed to tuch the cammera) untill I learnt bit by bit and I become a <span class="bold">filmmaker</span>
	</div>
	<hr>
	<div class="items">
		<h1 class="centre">what are my hobbies</h1>
		<p class="text">I love walking and every week me and my wife find a new palce and we go for a walk in the new palce. Also, I like cinem and watching films and comedy shows on TV.I know little bit about sculpture  and I know alot about the Animation industry</p>
		<p> Although, I can say that I'm a good photographer and photography is one of my hobbies and I folow ot sireusly.
	</div>




