<p class="items">If you fancy of my works feel free to contact me by filing the form below or <span class="bold">GO</span>at the end of the page and my email is there.</p>
 <form class="items" id="form">
    <p class="items">Contact name*:</p>
    <input type="text" id="contactName" class="form" placeholder="your name">
    <p class="items">Contact email Address*:</p>
    <input type="text" id="email"  class="form" placeholder="your email address">
    <p class="items">Contact phone Number:</p>
    <input type="text" id="phone" class="form" placeholder="your phone number">
    <button type="submit" class="button form" id="submit" >submit</button>
</form>
<p class="items"> My email is: <span class="bold">amir.gevari@gmail.com</span></p>