<section class="intro">
	<div class="intro-contect">
		<img src="./image/Amir.png" class="me">
		<div class="intro-head">
			<h2 class="header-text " ><span class="sign">&lt;</span> I'm Amir Geveri <span class="sign">&gt;</span></h2>

			<h3 class="intro-subs" >A website developer<br> 
			who knows video editing<br> 
			and UX/Ui design enthusiast.</h3>
		</div>

</div>
</section>
<section class="recent_works">
	<h1 class="header-text works-text"><span class="sign">&lt;</span>  Some of my recent works  <span class="sign">&gt;</span></h1>
	<div class="container">
		<div class="first works">
			<h2 class="works-title"><a class="link" href="#" >First one</a></h2>
			<p class="works-desc">that could be the first paragraph of the repo read me file</p>
		</div>
		<div class="second works">
			<h2 class="works-title"><a class="link" href="#" class="link">second one</a></h2>
			<p class="works-desc">that could be the first paragraph of the repo read me file</p>
		</div>
		<div class="third works">
			<h2 class="works-title"><a class="link" href="#" class="link">third one</a></h2>
			<p class="works-desc">that could be the first paragraph of the repo read me file</p>
		</div>

	</div>
</section>
